{% extends 'base.html' %}

{% block title %}
<title>Flask Blog</title>
{% endblock %}

{% block body %}
<div class="container">
    {% include 'navbar.html' %}
    <main>
        {% for post in posts %}
        <article><a href="{{url_for('get_post', post_id=post['id'])}}" class="blog-post">
            <img class="blog-post-img" src="{{post.image}}" alt="{{post.image_alt_text}}">
            <section class="blog-post-text">
                <h3>{{post.date_created}} | BY {{post.author}}</h3>
                <h1>{{ post.title }}</h1>
                <p class="hide-on-mobile">{{post.subtitle}}</p>
            </section>
        </a></article>
        {% endfor %}
    </main>
</div>
{% endblock %}
