<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>BlogIt | Home</title>
</head>
<body>
    <div class="container">
        <nav class="footer-menu">
            <a class="menu-icon" id="home" href="#"></a>
            <a class="menu-icon" id="new-post" href="#"></a>
            <a class="menu-icon" id="account" href="#"></a>
        </nav>
        <main>
            <article><a href="../templates/post.html" class="blog-post">
                <img class="blog-post-img" src="../static/img/toronto.jpg" alt="Toronto City Hall with illuminated sign">
                <section class="blog-post-text">
                    <h3>JAN 1, 2021 | BY JANE DOE</h3>
                    <h1>10 Things To Do In Toronto</h1>
                    <p class="hide-on-mobile">Laborum ullam quo quo quia nesciunt ut fuga illum. Ullam nihil nulla id consequatur minus autem beatae expedita. Rerum sed error id quas at quos est. Qui quos quasi ad consectetur facere.</p>
                </section>
            </a></article>
            <article><a href="#" class="blog-post">
                <img class="blog-post-img" src="../static/img/montreal.jpg" alt="Montreal skyline at sunset">
                <section class="blog-post-text">
                    <h3>DEC 15, 2020 | BY JOHN SMITH</h3>
                    <h1>Montreal's Best Hidden Bars</h1>
                    <p class="hide-on-mobile">Ad veniam aut quisquam. Molestias et deserunt ex inventore molestiae ab delectus. Hic accusamus voluptatem unde soluta tenetur non quaerat. Labore officiis minima explicabo consectetur quo repellendus voluptates fuga.</p>
                </section>
            </a></article>
            <article><a href="#" class="blog-post">
                <img class="blog-post-img" src="../static/img/lake.jpg" alt="Two red canoes on a lake with snowy mountains and pine forests in the background">
                <section class="blog-post-text">
                    <h3>NOV 6, 2020 | BY JOHN SMITH</h3>
                    <h1>5 Winter Kayaking Hotspots</h1>
                    <p class="hide-on-mobile">Eveniet placeat animi quo tenetur possimus. Aut ea dignissimos quas sed sint saepe tempora et. Molestiae repellat quis nihil accusantium.</p>
                </section>
            </a></article>
        </main>
    </div>
</body>
</html>