{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="form-container">
        <h1>Log In</h1>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {{ form.email.label() }}
            {{ form.email() }}
            {{ form.password.label() }}
            {{ form.password() }}
            {{ form.remember.label() }}
            {{ form.remember() }}
            {{ form.submit() }}
        </form>
        <h3 id="account-link"><a href="{{ url_for('register') }}">Don't have an account?</a></h3>
    </div>
</div>
{% endblock %}