{% extends 'base.html' %}

{% block body %}
    <div class="container">
        {% include 'navbar.html' %}
        <article class="main-post">
            <section class="header-text">
                <h3>{{post.date_created}} | {{post.author}}</h3>
                <h1>{{post.title}}</h1>
            </section>
            <img class="main-post-img" src="{{post.image}}" alt="{{post.image_alt_text}}">
            <section class="body-text">
                <p>{{post.intro_paragraph}}</p>
                <p>{{post.content}}</p>
            </section>
        </article>
    </div>
{% endblock %}

