<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>BlogIt | Home</title>
</head>
<body>
    <div class="container">
        <nav class="footer-menu">
            <a class="menu-icon" id="home" href="#"></a>
            <a class="menu-icon" id="new-post" href="#"></a>
            <a class="menu-icon" id="account" href="#"></a>
        </nav>
        <article class="main-post">
            <h3>JAN 1, 2021 | BY JANE DOE</h3>
            <h1>10 Things To Do In Toronto</h1>
            <img class="main-post-img" src="../static/img/toronto.jpg" alt="Toronto City Hall with illuminated sign">
            <p>Laborum ullam quo quo quia nesciunt ut fuga illum. Ullam nihil nulla id consequatur minus autem beatae expedita. Rerum sed error id quas at quos est. Qui quos quasi ad consectetur facere.</p>
            <p>Ad veniam aut quisquam. Molestias et deserunt ex inventore molestiae ab delectus. Hic accusamus voluptatem unde soluta tenetur non quaerat. Labore officiis minima explicabo consectetur quo repellendus voluptates fuga. Dicta excepturi totam optio ea vero eligendi molestias. Unde ut dolorum praesentium similique consequatur tenetur dolorem amet.</p>
            <p>Qui eum vitae assumenda consequatur aut nesciunt. Hic beatae et totam. Et quibusdam qui consequatur sint aut accusantium quis.</p>
            <p>Qui sed aut assumenda et dolore nihil quia. Nemo ipsam rerum ad id autem voluptatem quidem in.</p>
        </article>
    </div>
</body>
</html>