$grey: #282c34;
$dark: #131619;
$light: #eaeaea;
$message: #758199;

:root {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: $light;
}

a {
    text-decoration: none;
}

h1, p, h3 {
    color: $dark;
}

h1, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

h3, label, #submit {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 0.8125rem;
    letter-spacing: 0.0625rem;
}

ul {
    padding-left: 50px;
    list-style: none;

    li {
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 400;
        font-size: 0.8125rem;
        letter-spacing: 0.0625rem;
        color: $light;
        background-color: $message;
        padding: 10px;
    }
}

.container {
    height: auto;
    width: 100%;
}

@import 'navbar';
@import 'main-blog';
@import 'blog-post';
@import 'form';
@import 'dashboard';