{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="form-container">
        <h1>{{ title }}</h1>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {{ form.title.label() }}
            {{ form.title() }}
            {{ form.subtitle.label() }}
            {{ form.subtitle() }}
            {{ form.body.label() }}
            {{ form.body }}
            {{ form.image.label() }}
            {{ form.image() }}
            {{ form.submit() }}
        </form>
        {{ ckeditor.load(pkg_type='basic') }}
        {{ ckeditor.config(name='body') }}
    </div>
</div>
{% endblock %}