{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="dashboard-main">
        <h1>Hello {{ current_user.username }}</h1>
        <div class="dashboard-posts">
            {% for post in posts %}
            <section class="dashboard-post">
                <h1>{{ post.title }}</h1>
                <div class="dashboard-buttons">
                    <form action="{{ url_for('edit_post', post_id=post.id) }}" method="GET">
                        <input id="edit" name="submit" type="submit" value="Edit">
                    </form>
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                        <input id="delete" name="submit" type="submit" value="Delete">
                    </form>
                </div>
            </section>
            {% endfor %}
        </div>
        <a href="{{url_for('logout')}}" id="logout">Logout</a>
    </div>
</div>
{% endblock %}