{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="form-container">
        <h1>Register</h1>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {{ form.username.label() }}
            {{ form.username() }}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <h3>{{ error }}</h3>
                {% endfor %}    
            {% endif %}    
            {{ form.email.label() }}
            {{ form.email() }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <h3>{{ error }}</h3>
                {% endfor %}    
            {% endif %} 
            {{ form.password.label() }}
            {{ form.password() }}
            {{ form.password_confirm.label() }}
            {{ form.password_confirm() }}
            {{ form.submit() }}
        </form>
        <h3 id="account-link"><a href="{{ url_for('login') }}">Already have an account?</a></h3>
    </div>
</div>
{% endblock %}